body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.letter:nth-child(1) { transform: rotate(-2deg); }
.letter:nth-child(2) { transform: rotate(2deg); }
.letter:nth-child(3) { transform: rotate(-1deg); }
.letter:nth-child(4) { transform: rotate(-2deg); }
.letter:nth-child(5) { transform: rotate(0deg); }

.mobile {
    max-width: 1200px;
    width: 100%;
}

p {
    margin: 0 auto;
    text-align: center;
}

.word {
    white-space: nowrap;
    /*display: inline-block*/
    margin: 1vw;
}

.letter {
    display: inline-block;
    /*max-width: 16vw;*/
    max-width: 10%;
    vertical-align: middle;
    margin-bottom: 10px;
}

.letter__horizontal {
    max-width: 18%;
}

.letter img {
    width: 100%;
}
